@import "grid";
@import "colours";

.banner{
    background-color: $light-blue;
    margin-top: -40px;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    .banner-cont{
        margin: auto;
        width: 80%;
        text-align: center;
        .element{
            font-weight: 800;
        }    
        
        h3{
            font-size: 32px;
        }
    }
    
}

.homepage-cont{
    
    min-height: 600px;
   
    @include breakpoint(mobileonly){
        width: 90%;
    }
    
    @include breakpoint(phablet){
        width: 90%;
    }
    
    @include breakpoint(tablet){
        width: 80%;
    }
    
    @include breakpoint(laptop){
        width: 80%;
    }
    
}

.course-container{
    
    margin-top: 40px;
     
    .course-box{
        margin-bottom: 40px;
    }
   
}

.gray-container{
    background-color: $pale-white;
    width: 100%;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    .promo{
        text-align: center;
        
        h5{
            font-weight:800;
        }
        
        p{
            font-weight:300;
        }
        
        i{
            margin: 40px 0;
            color: $light-blue;
            font-size: 7rem;
            display: block;
        }
        
    }
}