@import "colours";
@import "grid";
@import "homepage";

#sidebar{
    width: 220px;
    background-color: $dark-purple;
    color: white;
    position:absolute;
    top: 0;
    bottom: 0;
    
    .admin-logo{
        background-color: $admin-logo;
        padding: 20px;
        text-align: center;
    }
    
    .pure-menu-heading{
        color: white;
    }
    
    .pure-menu-list{
        li{
            a{
                padding-top: 10px;
                padding-bottom: 10px;
                color: #5F637E;   
            }
            
            a:hover{
                color: white;
                background-color: $dark-blue;
            }
        }
    }
}

#main{
    background-color: $admin-background;
    position: absolute;
    left: 220px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    
   
    .widget{
        background-color: white;
        width: 96%;
        height: 200px;    
        border: 1px solid #EAEDF4;
    }
    
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
    h5{
        margin-bottom: 60px;
    }
    
}