@import "colours";
@import "grid";
@import "homepage";

nav{
    background-color: $dark-gray;
    
    .button-collapse{
        padding-left: 10px;
    }
    
    .github-signin{
        background-color: $light-blue;
    }
    
    ul li{
        margin-top: -1px;
    }
    
    ul li:hover{
        background-color: $light-blue;
    }
    
    .brand-logo{
        
        @include breakpoint(mobileonly){
            margin-top: 10px;
        }
        
        margin-left: 20px;
        font-weight: 100;
    }
    
}

.content{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}