@import "grid";
@import "colours";

nav{
    background-color: $dark-gray;
    
    .github-signin{
        background-color: $light-blue;
    }
    
    ul li:hover{
        background-color: $light-blue;
    }
    
    .brand-logo{
        margin-left: 20px;
    }
    
}

.content{
    height: 800px;
    width: 100%;
}


footer{
    
    .page-footer{
        background-color: $dark-gray;
    }
}

.sidebar{
    background-color: $dark-gray;
}