/*
* All the colours for the site are defined here
*/
/*
* All the colours for the site are defined here
*/
.banner {
  background-color: #00CCFF;
  margin-top: -40px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white; }
  .banner .banner-cont {
    margin: auto;
    width: 80%;
    text-align: center; }
    .banner .banner-cont .element {
      font-weight: 800; }
    .banner .banner-cont h3 {
      font-size: 32px; }

.homepage-cont {
  min-height: 600px; }
  @media (max-width: 37.5em) {
    .homepage-cont {
      width: 90%; } }
  @media (min-width: 37.5em) {
    .homepage-cont {
      width: 90%; } }
  @media (min-width: 50em) {
    .homepage-cont {
      width: 80%; } }
  @media (min-width: 64em) {
    .homepage-cont {
      width: 80%; } }

.course-container {
  margin-top: 40px; }
  .course-container .course-box {
    margin-bottom: 40px;
    min-height: 300px; }

.gray-container {
  background-color: #F5F5F1;
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .gray-container .promo {
    text-align: center; }
    .gray-container .promo h5 {
      font-weight: 800; }
    .gray-container .promo p {
      font-weight: 300; }
    .gray-container .promo i {
      margin: 40px 0;
      color: #00CCFF;
      font-size: 7rem;
      display: block; }

@media (max-width: 37.5em) {
  body p, body ul, body li, body a {
    font-size: 20px;
    line-height: 32px; } }
@media (min-width: 37.5em) {
  body p, body ul, body li, body a {
    font-size: 19px; } }
@media (min-width: 50em) {
  body p, body ul, body li, body a {
    font-size: 19px; } }
@media (min-width: 64em) {
  body p, body ul, body li, body a {
    font-size: 18px; } }

nav {
  background-color: #2D3E4E; }
  nav .button-collapse {
    padding-left: 10px; }
  nav .github-signin {
    background-color: #00CCFF; }
  nav ul li {
    margin-top: -1px; }
  nav ul li:hover {
    background-color: #00CCFF; }
  nav .brand-logo {
    margin-left: 20px;
    font-weight: 100; }
    @media (max-width: 37.5em) {
      nav .brand-logo {
        margin-top: 10px; } }

.icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #112F5A;
  color: white;
  padding-top: 7px;
  font-size: 48px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }
  .icon i {
    font-size: 48px;
    margin-left: 17px; }

.content {
  min-height: 100px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 29px; }
  .content .icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #112F5A;
    color: white;
    padding-top: 7px;
    font-size: 48px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
    .content .icon span {
      margin-left: 28px; }
  .content img {
    width: 100%;
    height: auto; }
  @media (max-width: 37.5em) {
    .content {
      width: 90%; }
      .content p {
        font-size: 22px; } }
  @media (min-width: 37.5em) {
    .content {
      width: 90%; } }
  @media (min-width: 50em) {
    .content {
      width: 80%; } }
  @media (min-width: 64em) {
    .content {
      width: 50%; } }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    margin-bottom: 10px; }
  .content h1 {
    font-size: 55px;
    text-align: center; }
  .content h2 {
    font-size: 30px; }
  .content .info {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #9A9A9A; }
  .content pre {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 5px solid #00CCFF; }
  .content .tip {
    background-color: #F5F5F1;
    padding: 20px;
    text-align: center; }
    .content .tip .large {
      font-size: 24px;
      font-weight: 800;
      width: 100%; }
  .content .post-body h1 {
    font-size: 38px; }
  .content .result {
    margin-bottom: 40px; }
    .content .result button {
      background-color: #00CCFF; }

.search .input-field input {
  font-size: 23px; }
.search .search-results .result {
  background-color: white; }

.comment-container {
  width: 100%;
  background-color: #F5F5F1;
  padding-top: 40px;
  padding-bottom: 40px; }
  .comment-container .comments {
    margin: auto;
    margin-bottom: 20px; }
    @media (max-width: 37.5em) {
      .comment-container .comments {
        width: 90%; } }
    @media (min-width: 37.5em) {
      .comment-container .comments {
        width: 90%; } }
    @media (min-width: 50em) {
      .comment-container .comments {
        width: 80%; } }
    @media (min-width: 64em) {
      .comment-container .comments {
        width: 50%; } }
    .comment-container .comments .comment {
      margin-top: 20px;
      padding: 20px;
      width: 100%;
      background-color: white; }
      .comment-container .comments .comment i.comment-icon {
        color: #00CCFF; }
      .comment-container .comments .comment button {
        background-color: #00CCFF; }
        .comment-container .comments .comment button i {
          color: white; }
      .comment-container .comments .comment .input-field label .active {
        color: #00CCFF; }
      .comment-container .comments .comment h5 {
        font-size: 16px; }
        .comment-container .comments .comment h5 a {
          color: #505b69;
          margin: 1em 0;
          line-height: 1.3em;
          font-weight: 600; }
        .comment-container .comments .comment h5 .time-since {
          color: #9ba6b5; }

footer.page-footer {
  background-color: white;
  color: #aeaeae;
  margin-top: 0; }
  footer.page-footer a {
    color: #525252; }
  footer.page-footer .footer-copyright {
    background-color: #FAFAFA;
    color: #525252; }

.clear {
  clear: both; }

.break {
  width: 100%;
  height: 40px;
  clear: both; }

.pagination {
  margin: auto; }

/*# sourceMappingURL=front-end.css.map */
